include ../scripts/scripts

doctype html
html(lang='ru')
	include ../head/head
	body
		block content

		+scripts(['vendor/jquery-2.1.4.min.js', 'vendor/slick.min.js', 'https://www.youtube.com/iframe_api', 'main.js', 'contact-us.js', 'feedback.js'])
		block scripts