extends ../blocks/layout-default/layout-default

block head
	-var pageTitle = 'Index page';

block content
	.wrapper
		.app
			.app__wrapper
				.app__header
					.app-container
						.app-header-top
							.app-header-top__inner
								p В&nbsp;этом году <b>Ariston выступает партнёром</b> беспрецедентного и&nbsp;масштабного проекта
								.app-header-top__logo от&nbsp;
									img(src="img/logo-forumhouse.png" alt="ForumHouse")
						.app-brand
							.app-brand__media
								img(src="img/app-brand.png" alt="Дом за год")
							.app-brand__descr Сердцем которого станет <span>наш лучший котёл&nbsp;&mdash; Alteas One</span>
				.app__content
					.app-contact-us.fixed.js-contact-us
						.app-contact-us__header.js-contact-us-show
							.app-contact-us__trigger
							.app-contact-us__title.js-contact-us-open Задать вопрос
							.app-contact-us__close.js-contact-us-close
						.app-contact-us__content.js-contact-us-content
							form#contactus(autocomplete="off" name="feedback" enctype="multipart/form-data" action="")
								.app-contact-us__content-inner
									// .app-contact-us__group.is-error
									.app-contact-us__group
										.app-contact-us__select.js-select
											.app-contact-us__control.js-select-target
												span.app-contact-us__select-caption По одной из следующих тем...
												i.app-contact-us__caret
												input.js-requere(type="hidden" value="0" name="contactusQuestion")
											.app-contact-us__select-options.js-select-list
												.app-contact-us__select-option(data-value="О проекте &laquo;Дом за год&raquo;") О&nbsp;проекте &laquo;Дом за&nbsp;год&raquo;
												.app-contact-us__select-option(data-value="О котлах Ariston") О&nbsp;котлах Ariston
												.app-contact-us__select-option(data-value="На свободную тему") На&nbsp;свободную тему
										.app-contact-us__error.js-error
											.app-contact-us__error-text.js-error-text Выберите тему вопроса
											.app-contact-us__error-close.js-error-hidden
									// .app-contact-us__group.is-error
									.app-contact-us__group
										textarea.app-contact-us__control.contact-field-text.js-requere(type="text" name="contactusMessage" placeholder="Сообщение")
										.app-contact-us__error.js-error
											.app-contact-us__error-text.js-error-text Сообщение не должно содержать английские символы
											.app-contact-us__error-close.js-error-hidden
									// .app-contact-us__group.is-error
									.app-contact-us__group
										input.app-contact-us__control.contact-field-email.js-requere(type="text" name="contactusEmail" placeholder="Вписать свой e-mail адрес")
										.app-contact-us__error.js-error
											.app-contact-us__error-text.js-error-text Адрес электронной почты должен содержать "@".
											.app-contact-us__error-close.js-error-hidden
									.app-contact-us__group
										.app-btn.app-btn_blue.js-contactus-submit Задать
									//- .app-contact-us__text Ваш запрос отправлен
									//- .app-btn.app-btn_blue.js-contact-us-close Закрыть
					.app-about
						.app-container
							.app-about__list
								each value in aboutList
									.app-about__list-item
										.app-about-card
											.app-about-card__border-left
											.app-about-card__border-right
											.app-about-card__border-next
											.app-about-card__wrap
												.app-about-card__media
													img(src=value.icon)
												.app-about-card__title!= value.title
												.app-about-card__text!= value.text
						.app-about__timeline
					.app-timeline
						.app-timeline__state
							.app-container
								.app-timeline-slider
									each value, ind in timeline
										.app-timeline-slider__item
											if(value.popup)
												each popup in value.popup
													.app-timeline-card(data-title!=popup.title data-text!=popup.text data-link!=(popup.link) ? popup.link : '#')
														.app-timeline-card__date!= value.date
														if(ind !== timeline.length-1)
															.app-timeline-card__dot-wrap(class=(value.icon) ? "app-timeline-card__dot-wrap_active" : "")
																.app-timeline-card__dot.js-timeline-preview
														else
															.app-timeline-card__dot-wrap.app-timeline-card__dot-wrap_active-end
																.app-timeline-card__dot.js-timeline-preview
														.app-timeline-card__label!= value.label

					.app-navbar
						.app-navbar__item
							.app-btn.app-btn_blue.js-scrollTo(data-scroll=".app-product") Котёл для Дома за&nbsp;Год
						.app-navbar__item
							a.app-btn.app-btn_red(href="https://www.forumhouse.ru/stories/1/posts/178" target="_blank") Следить за&nbsp;розыгрышем
						.app-navbar__item
							.app-btn.app-btn_red.js-scrollTo(data-scroll=".app-history") Как выбрать котёл
					.app-note(style="max-width: 760px; margin-left: auto; margin-right: auto; padding: 0 20px;")
						p
							small * Финальное голосование открыто с&nbsp;3&nbsp;ноября 2017&nbsp;г.&nbsp;и&nbsp;завершится 1&nbsp;декабря 2017&nbsp;г.&nbsp;в&nbsp;00-00 по&nbsp;московскому времени.
					#product.app-product
						.app-product__wrap
							.app-product__wrap-col.app-product__wrap-col_title
								.app-product__title Встречайте новое технологи<em class="clr-red">4</em>еское решение <em class="clr-blue">от&nbsp;ARISTON</em>
							.app-product__wrap-col.app-product__wrap-col_img
								.app-product__media
									img(src="content/images/product/img-product.png" alt="")
							.app-product__wrap-col.app-product__wrap-col_text
								.app-product__content
									.app-product__title.app-product__title_nophone
										span Встречайте новое 
										span технологи<em class="clr-red">4</em>еское решение 
										span <em class="clr-blue">от&nbsp;ARISTON</em>
									.app-product__text
										span Конденсационный котёл Alteas One 
										span с&nbsp;системой дистанционного 
										span управления
									.app-product__target
										.app-btn.app-btn_blue.js-modal-video(data-video="zVMupBgmO_0" data-modal="#popup-video")
											i.app-btn__icon.app-btn__icon_wifi
											|  об&nbsp;Ariston Net
										.app-btn-animate.animate-to
											.app-btn-animate__content <b>10 лет</b><br />гарантии
											.app-btn-animate__square
												.app-btn-animate__square-item.app-btn-animate__square-item_1
												.app-btn-animate__square-item.app-btn-animate__square-item_2
												.app-btn-animate__square-item.app-btn-animate__square-item_3
											.app-btn-animate__circle
												img.app-btn-animate__circle-item.app-btn-animate__circle-item_1(src="img/lines.png")
												img.app-btn-animate__circle-item.app-btn-animate__circle-item_2(src="img/lines.png")
												img.app-btn-animate__circle-item.app-btn-animate__circle-item_3(src="img/lines.png")
						.app-product__bg
							img.app-product__bg-img(src="content/images/product/product-bg-light.png")
							img.app-product__bg-img-back(src="content/images/product/product-bg.png")
					.app-product-info
						.app-container
							.app-product-info__title Наше лучшее творение для дома мечты!
							.app-product-info__navbar.js-dropdown
								.app-product-info__navbar-select.js-dropdown-toggle
									.app-product-info__navbar-select-handler
										span.js-dropdown-handler Гарантированная надежность
										span.app-product-info__caret
								.app-product-info__navbar-dropdown.js-dropdown-content
									ul.app-tabnav
										li.app-tabnav__item.active
											.app-tab-btn(data-text="Гарантированная надежность")
												.app-tab-btn__handler Гарантированная надежность
										li.app-tabnav__item
											.app-tab-btn(data-text="Абсолютный комфорт")
												.app-tab-btn__handler Абсолютный комфорт
										li.app-tabnav__item
											.app-tab-btn(data-text="Максимальная эффективность")
												.app-tab-btn__handler Максимальная эффективность
							.app-product-info__state
								.app-product-slider
									each value in productSlider
										.app-product-slider__item
											.app-product-slider__media
												img.app-product-slider__img(src=value.src)
											.app-product-slider__content
												.app-product-slider__title!= value.title
												.app-product-slider__descr!= value.descr
							.app-product-info__target
								a.app-btn.app-btn_blue(href="http://www.ariston.com/ru/one_series" target="_blank") Подробнее о&nbsp;продукте
					.app-feedback
						.app-container
							.app-feedback__wrap
								.app-feedback__wrap-content
									.app-feedback__title
										span Чтобы быть в&nbsp;курсе 
										span новостей проекта, впишите
									.app-feedback__form
										form#feedback(autocomplete="off" name="feedback" enctype="multipart/form-data" action="")
											.app-feedback__list
												.app-feedback__list-item
													.app-feedback__group
														label.app-feedback__form-label(for="feedbackName") Ваше имя
														input#feedbackName.app-feedback__form-control.field-name.js-requere(type="text" name="feedbackName")
														.app-feedback__error.js-error
															.app-feedback__error-text.js-error-text Ваше имя содержит недопустимые символы
															.app-feedback__error-close.js-error-hidden
												.app-feedback__list-item
													.app-feedback__group
														label.app-feedback__form-label(for="feedbackEmail") Адрес электронной почты
														input#feedbackEmail.app-feedback__form-control.field-email.js-requere(type="text" name="feedbackEmail")
														.app-feedback__error.js-error
															.app-feedback__error-text.js-error-text Некорректный email адрес
															.app-feedback__error-close.js-error-hidden
												.app-feedback__list-item.app-feedback__list-item_full
													.app-feedback__group
														.app-btn.app-btn_red.js-feedback-submit Подписаться
					.app-history
						.app-container
							.app-history__header
								.app-history__header-item
									a.app-history__media(href="http://fourstories.ru/" target="_blank")
										img(src="content/images/history/brand.png" alt="Четыре истории о тепле")
								.app-history__header-item
									.app-history__title Проект, в&nbsp;котором владельцы котлов Ariston рассказывают о&nbsp;том, как наша техника согрела их&nbsp;семью.
									.app-history__description Сколько семей, столько и&nbsp;историй. Их&nbsp;опыт обязательно поможет вам с&nbsp;выбором и&nbsp;установкой самого подходящего котла для вашего дома.
						.app-history-carousel
							.app-container
								.app-history-slider
									each value, key in historySlider
										.app-history-slider__item(data-index=(key+1))
											.app-history-card
												.app-history-card__col
													.app-history-card__content
														.app-history-card__number
														.app-history-card__label!= value.label
														.app-history-card__title!= value.title
														.app-history-card__description!= value.descr
														.app-history-card__target
															a.app-btn.app-btn_red(href=value.link target="_blank") Открыть историю
												.app-history-card__col
													.app-history-card__media(data-src=value.video data-poster=value.src)
														img.app-history-card__img(src=value.src alt="")
			.app__bg
				canvas#canvas
			#popup-video.app-modal.fade.collapse
				.app-modal__dialog.app-modal__dialog_video
					.app-modal__close.yt-close
					.app-modal__content
						.app-modal__video.yt-video