// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sprite-contact-us-chat-name: 'sprite-contact-us-chat';
$sprite-contact-us-chat-x: 124px;
$sprite-contact-us-chat-y: 52px;
$sprite-contact-us-chat-offset-x: -124px;
$sprite-contact-us-chat-offset-y: -52px;
$sprite-contact-us-chat-width: 34px;
$sprite-contact-us-chat-height: 30px;
$sprite-contact-us-chat-total-width: 166px;
$sprite-contact-us-chat-total-height: 148px;
$sprite-contact-us-chat-image: '../img/sprite.png';
$sprite-contact-us-chat: (124px, 52px, -124px, -52px, 34px, 30px, 166px, 148px, '../img/sprite.png', 'sprite-contact-us-chat', );
$sprite-contact-us-close-name: 'sprite-contact-us-close';
$sprite-contact-us-close-x: 48px;
$sprite-contact-us-close-y: 124px;
$sprite-contact-us-close-offset-x: -48px;
$sprite-contact-us-close-offset-y: -124px;
$sprite-contact-us-close-width: 16px;
$sprite-contact-us-close-height: 16px;
$sprite-contact-us-close-total-width: 166px;
$sprite-contact-us-close-total-height: 148px;
$sprite-contact-us-close-image: '../img/sprite.png';
$sprite-contact-us-close: (48px, 124px, -48px, -124px, 16px, 16px, 166px, 148px, '../img/sprite.png', 'sprite-contact-us-close', );
$sprite-history-arrow-name: 'sprite-history-arrow';
$sprite-history-arrow-x: 62px;
$sprite-history-arrow-y: 62px;
$sprite-history-arrow-offset-x: -62px;
$sprite-history-arrow-offset-y: -62px;
$sprite-history-arrow-width: 52px;
$sprite-history-arrow-height: 42px;
$sprite-history-arrow-total-width: 166px;
$sprite-history-arrow-total-height: 148px;
$sprite-history-arrow-image: '../img/sprite.png';
$sprite-history-arrow: (62px, 62px, -62px, -62px, 52px, 42px, 166px, 148px, '../img/sprite.png', 'sprite-history-arrow', );
$sprite-select-arrow-white-name: 'sprite-select-arrow-white';
$sprite-select-arrow-white-x: 102px;
$sprite-select-arrow-white-y: 124px;
$sprite-select-arrow-white-offset-x: -102px;
$sprite-select-arrow-white-offset-y: -124px;
$sprite-select-arrow-white-width: 18px;
$sprite-select-arrow-white-height: 10px;
$sprite-select-arrow-white-total-width: 166px;
$sprite-select-arrow-white-total-height: 148px;
$sprite-select-arrow-white-image: '../img/sprite.png';
$sprite-select-arrow-white: (102px, 124px, -102px, -124px, 18px, 10px, 166px, 148px, '../img/sprite.png', 'sprite-select-arrow-white', );
$sprite-select-arrow-name: 'sprite-select-arrow';
$sprite-select-arrow-x: 74px;
$sprite-select-arrow-y: 124px;
$sprite-select-arrow-offset-x: -74px;
$sprite-select-arrow-offset-y: -124px;
$sprite-select-arrow-width: 18px;
$sprite-select-arrow-height: 10px;
$sprite-select-arrow-total-width: 166px;
$sprite-select-arrow-total-height: 148px;
$sprite-select-arrow-image: '../img/sprite.png';
$sprite-select-arrow: (74px, 124px, -74px, -124px, 18px, 10px, 166px, 148px, '../img/sprite.png', 'sprite-select-arrow', );
$sprite-state-slider-left-name: 'sprite-state-slider-left';
$sprite-state-slider-left-x: 0px;
$sprite-state-slider-left-y: 124px;
$sprite-state-slider-left-offset-x: 0px;
$sprite-state-slider-left-offset-y: -124px;
$sprite-state-slider-left-width: 14px;
$sprite-state-slider-left-height: 24px;
$sprite-state-slider-left-total-width: 166px;
$sprite-state-slider-left-total-height: 148px;
$sprite-state-slider-left-image: '../img/sprite.png';
$sprite-state-slider-left: (0px, 124px, 0px, -124px, 14px, 24px, 166px, 148px, '../img/sprite.png', 'sprite-state-slider-left', );
$sprite-state-slider-right-name: 'sprite-state-slider-right';
$sprite-state-slider-right-x: 24px;
$sprite-state-slider-right-y: 124px;
$sprite-state-slider-right-offset-x: -24px;
$sprite-state-slider-right-offset-y: -124px;
$sprite-state-slider-right-width: 14px;
$sprite-state-slider-right-height: 24px;
$sprite-state-slider-right-total-width: 166px;
$sprite-state-slider-right-total-height: 148px;
$sprite-state-slider-right-image: '../img/sprite.png';
$sprite-state-slider-right: (24px, 124px, -24px, -124px, 14px, 24px, 166px, 148px, '../img/sprite.png', 'sprite-state-slider-right', );
$sprite-timeline-dot-name: 'sprite-timeline-dot';
$sprite-timeline-dot-x: 0px;
$sprite-timeline-dot-y: 62px;
$sprite-timeline-dot-offset-x: 0px;
$sprite-timeline-dot-offset-y: -62px;
$sprite-timeline-dot-width: 52px;
$sprite-timeline-dot-height: 52px;
$sprite-timeline-dot-total-width: 166px;
$sprite-timeline-dot-total-height: 148px;
$sprite-timeline-dot-image: '../img/sprite.png';
$sprite-timeline-dot: (0px, 62px, 0px, -62px, 52px, 52px, 166px, 148px, '../img/sprite.png', 'sprite-timeline-dot', );
$sprite-timeline-home-name: 'sprite-timeline-home';
$sprite-timeline-home-x: 62px;
$sprite-timeline-home-y: 0px;
$sprite-timeline-home-offset-x: -62px;
$sprite-timeline-home-offset-y: 0px;
$sprite-timeline-home-width: 52px;
$sprite-timeline-home-height: 52px;
$sprite-timeline-home-total-width: 166px;
$sprite-timeline-home-total-height: 148px;
$sprite-timeline-home-image: '../img/sprite.png';
$sprite-timeline-home: (62px, 0px, -62px, 0px, 52px, 52px, 166px, 148px, '../img/sprite.png', 'sprite-timeline-home', );
$sprite-timeline-key-name: 'sprite-timeline-key';
$sprite-timeline-key-x: 0px;
$sprite-timeline-key-y: 0px;
$sprite-timeline-key-offset-x: 0px;
$sprite-timeline-key-offset-y: 0px;
$sprite-timeline-key-width: 52px;
$sprite-timeline-key-height: 52px;
$sprite-timeline-key-total-width: 166px;
$sprite-timeline-key-total-height: 148px;
$sprite-timeline-key-image: '../img/sprite.png';
$sprite-timeline-key: (0px, 0px, 0px, 0px, 52px, 52px, 166px, 148px, '../img/sprite.png', 'sprite-timeline-key', );
$sprite-video-close-sm-name: 'sprite-video-close-sm';
$sprite-video-close-sm-x: 124px;
$sprite-video-close-sm-y: 92px;
$sprite-video-close-sm-offset-x: -124px;
$sprite-video-close-sm-offset-y: -92px;
$sprite-video-close-sm-width: 21px;
$sprite-video-close-sm-height: 21px;
$sprite-video-close-sm-total-width: 166px;
$sprite-video-close-sm-total-height: 148px;
$sprite-video-close-sm-image: '../img/sprite.png';
$sprite-video-close-sm: (124px, 92px, -124px, -92px, 21px, 21px, 166px, 148px, '../img/sprite.png', 'sprite-video-close-sm', );
$sprite-video-close-name: 'sprite-video-close';
$sprite-video-close-x: 124px;
$sprite-video-close-y: 0px;
$sprite-video-close-offset-x: -124px;
$sprite-video-close-offset-y: 0px;
$sprite-video-close-width: 42px;
$sprite-video-close-height: 42px;
$sprite-video-close-total-width: 166px;
$sprite-video-close-total-height: 148px;
$sprite-video-close-image: '../img/sprite.png';
$sprite-video-close: (124px, 0px, -124px, 0px, 42px, 42px, 166px, 148px, '../img/sprite.png', 'sprite-video-close', );
$sprite-width: 166px;
$sprite-height: 148px;
$sprite-image: '../img/sprite.png';
$sprite-sprites: ($sprite-contact-us-chat, $sprite-contact-us-close, $sprite-history-arrow, $sprite-select-arrow-white, $sprite-select-arrow, $sprite-state-slider-left, $sprite-state-slider-right, $sprite-timeline-dot, $sprite-timeline-home, $sprite-timeline-key, $sprite-video-close-sm, $sprite-video-close, );
$sprite: (166px, 148px, '../img/sprite.png', $sprite-sprites, );


