// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$sprite-contact-us-chat-2x-name: 'sprite-contact-us-chat_2x';
$sprite-contact-us-chat-2x-x: 248px;
$sprite-contact-us-chat-2x-y: 104px;
$sprite-contact-us-chat-2x-offset-x: -248px;
$sprite-contact-us-chat-2x-offset-y: -104px;
$sprite-contact-us-chat-2x-width: 68px;
$sprite-contact-us-chat-2x-height: 60px;
$sprite-contact-us-chat-2x-total-width: 332px;
$sprite-contact-us-chat-2x-total-height: 296px;
$sprite-contact-us-chat-2x-image: '../img/sprite_2x.png';
$sprite-contact-us-chat-2x: (248px, 104px, -248px, -104px, 68px, 60px, 332px, 296px, '../img/sprite_2x.png', 'sprite-contact-us-chat_2x', );
$sprite-contact-us-close-2x-name: 'sprite-contact-us-close_2x';
$sprite-contact-us-close-2x-x: 96px;
$sprite-contact-us-close-2x-y: 248px;
$sprite-contact-us-close-2x-offset-x: -96px;
$sprite-contact-us-close-2x-offset-y: -248px;
$sprite-contact-us-close-2x-width: 32px;
$sprite-contact-us-close-2x-height: 32px;
$sprite-contact-us-close-2x-total-width: 332px;
$sprite-contact-us-close-2x-total-height: 296px;
$sprite-contact-us-close-2x-image: '../img/sprite_2x.png';
$sprite-contact-us-close-2x: (96px, 248px, -96px, -248px, 32px, 32px, 332px, 296px, '../img/sprite_2x.png', 'sprite-contact-us-close_2x', );
$sprite-history-arrow-2x-name: 'sprite-history-arrow_2x';
$sprite-history-arrow-2x-x: 124px;
$sprite-history-arrow-2x-y: 124px;
$sprite-history-arrow-2x-offset-x: -124px;
$sprite-history-arrow-2x-offset-y: -124px;
$sprite-history-arrow-2x-width: 104px;
$sprite-history-arrow-2x-height: 84px;
$sprite-history-arrow-2x-total-width: 332px;
$sprite-history-arrow-2x-total-height: 296px;
$sprite-history-arrow-2x-image: '../img/sprite_2x.png';
$sprite-history-arrow-2x: (124px, 124px, -124px, -124px, 104px, 84px, 332px, 296px, '../img/sprite_2x.png', 'sprite-history-arrow_2x', );
$sprite-select-arrow-white-2x-name: 'sprite-select-arrow-white_2x';
$sprite-select-arrow-white-2x-x: 204px;
$sprite-select-arrow-white-2x-y: 248px;
$sprite-select-arrow-white-2x-offset-x: -204px;
$sprite-select-arrow-white-2x-offset-y: -248px;
$sprite-select-arrow-white-2x-width: 36px;
$sprite-select-arrow-white-2x-height: 20px;
$sprite-select-arrow-white-2x-total-width: 332px;
$sprite-select-arrow-white-2x-total-height: 296px;
$sprite-select-arrow-white-2x-image: '../img/sprite_2x.png';
$sprite-select-arrow-white-2x: (204px, 248px, -204px, -248px, 36px, 20px, 332px, 296px, '../img/sprite_2x.png', 'sprite-select-arrow-white_2x', );
$sprite-select-arrow-2x-name: 'sprite-select-arrow_2x';
$sprite-select-arrow-2x-x: 148px;
$sprite-select-arrow-2x-y: 248px;
$sprite-select-arrow-2x-offset-x: -148px;
$sprite-select-arrow-2x-offset-y: -248px;
$sprite-select-arrow-2x-width: 36px;
$sprite-select-arrow-2x-height: 20px;
$sprite-select-arrow-2x-total-width: 332px;
$sprite-select-arrow-2x-total-height: 296px;
$sprite-select-arrow-2x-image: '../img/sprite_2x.png';
$sprite-select-arrow-2x: (148px, 248px, -148px, -248px, 36px, 20px, 332px, 296px, '../img/sprite_2x.png', 'sprite-select-arrow_2x', );
$sprite-state-slider-left-2x-name: 'sprite-state-slider-left_2x';
$sprite-state-slider-left-2x-x: 0px;
$sprite-state-slider-left-2x-y: 248px;
$sprite-state-slider-left-2x-offset-x: 0px;
$sprite-state-slider-left-2x-offset-y: -248px;
$sprite-state-slider-left-2x-width: 28px;
$sprite-state-slider-left-2x-height: 48px;
$sprite-state-slider-left-2x-total-width: 332px;
$sprite-state-slider-left-2x-total-height: 296px;
$sprite-state-slider-left-2x-image: '../img/sprite_2x.png';
$sprite-state-slider-left-2x: (0px, 248px, 0px, -248px, 28px, 48px, 332px, 296px, '../img/sprite_2x.png', 'sprite-state-slider-left_2x', );
$sprite-state-slider-right-2x-name: 'sprite-state-slider-right_2x';
$sprite-state-slider-right-2x-x: 48px;
$sprite-state-slider-right-2x-y: 248px;
$sprite-state-slider-right-2x-offset-x: -48px;
$sprite-state-slider-right-2x-offset-y: -248px;
$sprite-state-slider-right-2x-width: 28px;
$sprite-state-slider-right-2x-height: 48px;
$sprite-state-slider-right-2x-total-width: 332px;
$sprite-state-slider-right-2x-total-height: 296px;
$sprite-state-slider-right-2x-image: '../img/sprite_2x.png';
$sprite-state-slider-right-2x: (48px, 248px, -48px, -248px, 28px, 48px, 332px, 296px, '../img/sprite_2x.png', 'sprite-state-slider-right_2x', );
$sprite-timeline-dot-2x-name: 'sprite-timeline-dot_2x';
$sprite-timeline-dot-2x-x: 0px;
$sprite-timeline-dot-2x-y: 124px;
$sprite-timeline-dot-2x-offset-x: 0px;
$sprite-timeline-dot-2x-offset-y: -124px;
$sprite-timeline-dot-2x-width: 104px;
$sprite-timeline-dot-2x-height: 104px;
$sprite-timeline-dot-2x-total-width: 332px;
$sprite-timeline-dot-2x-total-height: 296px;
$sprite-timeline-dot-2x-image: '../img/sprite_2x.png';
$sprite-timeline-dot-2x: (0px, 124px, 0px, -124px, 104px, 104px, 332px, 296px, '../img/sprite_2x.png', 'sprite-timeline-dot_2x', );
$sprite-timeline-home-2x-name: 'sprite-timeline-home_2x';
$sprite-timeline-home-2x-x: 124px;
$sprite-timeline-home-2x-y: 0px;
$sprite-timeline-home-2x-offset-x: -124px;
$sprite-timeline-home-2x-offset-y: 0px;
$sprite-timeline-home-2x-width: 104px;
$sprite-timeline-home-2x-height: 104px;
$sprite-timeline-home-2x-total-width: 332px;
$sprite-timeline-home-2x-total-height: 296px;
$sprite-timeline-home-2x-image: '../img/sprite_2x.png';
$sprite-timeline-home-2x: (124px, 0px, -124px, 0px, 104px, 104px, 332px, 296px, '../img/sprite_2x.png', 'sprite-timeline-home_2x', );
$sprite-timeline-key-2x-name: 'sprite-timeline-key_2x';
$sprite-timeline-key-2x-x: 0px;
$sprite-timeline-key-2x-y: 0px;
$sprite-timeline-key-2x-offset-x: 0px;
$sprite-timeline-key-2x-offset-y: 0px;
$sprite-timeline-key-2x-width: 104px;
$sprite-timeline-key-2x-height: 104px;
$sprite-timeline-key-2x-total-width: 332px;
$sprite-timeline-key-2x-total-height: 296px;
$sprite-timeline-key-2x-image: '../img/sprite_2x.png';
$sprite-timeline-key-2x: (0px, 0px, 0px, 0px, 104px, 104px, 332px, 296px, '../img/sprite_2x.png', 'sprite-timeline-key_2x', );
$sprite-video-close-sm-2x-name: 'sprite-video-close-sm_2x';
$sprite-video-close-sm-2x-x: 248px;
$sprite-video-close-sm-2x-y: 184px;
$sprite-video-close-sm-2x-offset-x: -248px;
$sprite-video-close-sm-2x-offset-y: -184px;
$sprite-video-close-sm-2x-width: 42px;
$sprite-video-close-sm-2x-height: 42px;
$sprite-video-close-sm-2x-total-width: 332px;
$sprite-video-close-sm-2x-total-height: 296px;
$sprite-video-close-sm-2x-image: '../img/sprite_2x.png';
$sprite-video-close-sm-2x: (248px, 184px, -248px, -184px, 42px, 42px, 332px, 296px, '../img/sprite_2x.png', 'sprite-video-close-sm_2x', );
$sprite-video-close-2x-name: 'sprite-video-close_2x';
$sprite-video-close-2x-x: 248px;
$sprite-video-close-2x-y: 0px;
$sprite-video-close-2x-offset-x: -248px;
$sprite-video-close-2x-offset-y: 0px;
$sprite-video-close-2x-width: 84px;
$sprite-video-close-2x-height: 84px;
$sprite-video-close-2x-total-width: 332px;
$sprite-video-close-2x-total-height: 296px;
$sprite-video-close-2x-image: '../img/sprite_2x.png';
$sprite-video-close-2x: (248px, 0px, -248px, 0px, 84px, 84px, 332px, 296px, '../img/sprite_2x.png', 'sprite-video-close_2x', );
$sprite-2x-width: 332px;
$sprite-2x-height: 296px;
$sprite-2x-image: '../img/sprite_2x.png';
$sprite-2x-sprites: ($sprite-contact-us-chat-2x, $sprite-contact-us-close-2x, $sprite-history-arrow-2x, $sprite-select-arrow-white-2x, $sprite-select-arrow-2x, $sprite-state-slider-left-2x, $sprite-state-slider-right-2x, $sprite-timeline-dot-2x, $sprite-timeline-home-2x, $sprite-timeline-key-2x, $sprite-video-close-sm-2x, $sprite-video-close-2x, );
$sprite-2x: (332px, 296px, '../img/sprite_2x.png', $sprite-2x-sprites, );


