// media queries
$onlyDesktop: 'screen and (min-width: 1200px)' !default;
$onlyLaptop: 'screen and (min-width: 992px)' !default;
$onlyTablet: 'screen and (min-width: 768px)' !default;
$onlyPhone: 'screen and (min-width: 576px)' !default;

$desktop: 'screen and (max-width: 1679px)' !default;
$smallDesktop: 'screen and (max-width: 1199px)' !default;
$laptop: 'screen and (max-width: 991px)' !default;
$tablet: 'screen and (max-width: 767px)' !default;
$phone: 'screen and (max-width: 575px)' !default;

//== Typography
$font-size-base: 14px !default;

//== Sprites svg
$mq-base-font-size: 14px !default;
