//== fonts
$font-path: "../fonts/" !default;
$font-OpensSans-Semibold: "OpenSans-Semibold" !default;
$font-ProximaNova-Sbold: "ProximaNova-Sbold" !default;
$font-ProximaNova-Thin: "ProximaNova-Thin" !default;
$font-ProximaNova-Light: "ProximaNova-Light" !default;
$font-ProximaNova-Reg: "ProximaNova-Reg" !default;
$font-ProximaNova-Bold: "ProximaNova-Bold" !default;

@font-face {
  font-family: "ProximaNovaLight";
  src: url($font-path + $font-ProximaNova-Light + '.eot');
  src: url($font-path + $font-ProximaNova-Light + '.eot?#iefix') format('embedded-opentype'), url($font-path + $font-ProximaNova-Light + '.woff') format('woff'), url($font-path + $font-ProximaNova-Light + '.ttf') format('truetype'), url($font-path + $font-ProximaNova-Light + '.svg#' + $font-ProximaNova-Light) format('svg');
  font-weight: normal;
}

@font-face {
  font-family: "ProximaNovaThin";
  src: url($font-path + $font-ProximaNova-Thin + '.eot');
  src: url($font-path + $font-ProximaNova-Thin + '.eot?#iefix') format('embedded-opentype'), url($font-path + $font-ProximaNova-Thin + '.woff') format('woff'), url($font-path + $font-ProximaNova-Thin + '.ttf') format('truetype'), url($font-path + $font-ProximaNova-Thin + '.svg#' + $font-ProximaNova-Thin) format('svg');
  font-weight: normal;
}

@font-face {
  font-family: "ProximaNovaReg";
  src: url($font-path + $font-ProximaNova-Reg + '.eot');
  src: url($font-path + $font-ProximaNova-Reg + '.eot?#iefix') format('embedded-opentype'), url($font-path + $font-ProximaNova-Reg + '.woff') format('woff'), url($font-path + $font-ProximaNova-Reg + '.ttf') format('truetype'), url($font-path + $font-ProximaNova-Reg + '.svg#' + $font-ProximaNova-Reg) format('svg');
  font-weight: normal;
}

@font-face {
  font-family: "ProximaNovaBold";
  src: url($font-path + $font-ProximaNova-Bold + '.eot');
  src: url($font-path + $font-ProximaNova-Bold + '.eot?#iefix') format('embedded-opentype'), url($font-path + $font-ProximaNova-Bold + '.woff') format('woff'), url($font-path + $font-ProximaNova-Bold + '.ttf') format('truetype'), url($font-path + $font-ProximaNova-Bold + '.svg#' + $font-ProximaNova-Bold) format('svg');
  font-weight: normal;
}

@font-face {
  font-family: "ProximaNovaSbold";
  src: url($font-path + $font-ProximaNova-Sbold + '.eot');
  src: url($font-path + $font-ProximaNova-Sbold + '.eot?#iefix') format('embedded-opentype'), url($font-path + $font-ProximaNova-Sbold + '.woff') format('woff'), url($font-path + $font-ProximaNova-Sbold + '.ttf') format('truetype'), url($font-path + $font-ProximaNova-Sbold + '.svg#' + $font-ProximaNova-Sbold) format('svg');
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansSemibold";
  src: url($font-path + $font-OpensSans-Semibold + '.eot');
  src: url($font-path + $font-OpensSans-Semibold + '.eot?#iefix') format('embedded-opentype'), url($font-path + $font-OpensSans-Semibold + '.woff') format('woff'), url($font-path + $font-OpensSans-Semibold + '.ttf') format('truetype'), url($font-path + $font-OpensSans-Semibold + '.svg#OpenSansSemibold') format('svg');
  font-weight: normal;
}