head
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')

	meta(name='application-name' content=pageTitle || '')
	meta(name='msapplication-tooltip' content=pageDescription || '')

	block head
		title= pageTitle || ''
		meta(name='description' content=pageDescription || '')
		meta(name='keywords' content=pageKeywords || '')
	link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')

	link(rel='stylesheet', href='css/fonts.css')
	link(rel='stylesheet', href='css/vendor/slick.css')
	link(rel='stylesheet', href='css/vendor/slick-theme.css')
	link(rel='stylesheet', href='css/main.css')
