.app-timeline {
    padding-top: 38px;
    padding-bottom: 20px;
    position: relative;

    &__state {
        max-width: 1200px;
        margin: 0 auto;
        position: relative;

        &:before {
            background: linear-gradient(to left, rgba(#120b0a, 1) 0%, rgba(#666, 1) 15%, rgba(#666, 1) 85%, rgba(#120b0a, 1) 100%);
            width: 100%;
            height: 1px;
            position: absolute;
            left: 0;
            right: 0;
            top: 74px;
            content: "";
            z-index: -1;
            pointer-events: none;
        }
    }
}

.slick-track,
.slick-initialized .slick-slide.slick-active {
    &:focus {
        outline: 0 none;
    }
}


.app-timeline-slider {
    max-width: 940px;
    margin: 0 auto;

    &__item {
        position: relative;

        &:focus {
            outline: medium none;
        }
    }

    .slick-next,
    .slick-prev {
        border: 1px solid rgba(#fff, 0.2);
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-top: ceil(50px / -2);

        &:before {
            content: " ";
            display: inline-block;
        }
    }

    .slick-next {
        right: -190px;

        @media #{$desktop}{
            right: -125px;
        }

        @media #{$smallDesktop}{
            right: -25px;
        }

        @media #{$laptop} {
            right: -20px;
        }

        &:before {
            @include sprite-2x($sprite-state-slider-right);
        }
    }

    .slick-prev {
        left: -190px;

        @media #{$desktop}{
            left: -125px;
        }

        @media #{$smallDesktop}{
            left: -25px;
        }

        @media #{$laptop}{
            left: -20px;
        }

        &:before {
            @include sprite-2x($sprite-state-slider-left);
        }
    }

    .slick-dots {
        margin: 0;
        bottom: -20px;

        li {
            button:before {
                color: #fff;
                opacity: 1;
                top: -1px;
            }

            &.slick-active {
                button:before {
                    color: #2483c6;
                    font-size: 10px;
                    top: 0;
                }
            }
        }
    }
}

.app-timeline-modal {
    width: 390px;
    position: absolute;
    top: -110px;
    padding-bottom: 10px;
    z-index: 2;
    margin-top: 5px;
    transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
    visibility: hidden;
    opacity: 0;
    box-sizing: border-box;

    @media #{$phone}{
        width: 300px;
    }

    &.visible {
        visibility: visible;
        margin-top: 0;
        opacity: 1;
    }

    &__wrap {
        background-color: #fff;
        border-radius: 15px;
        padding: 34px 23px 26px;
        position: relative;

        @media #{$phone}{
            padding: 25px 15px 20px;
        }

        &:after {
            border: 11px solid transparent;
            border-top: 9px solid #fff;
            content: "";
            position: absolute;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);

            .left & {
                left: 27%;
            }

            .right & {
                left: 70%;
            }
        }
    }

    &__title {
        font-size: 18px;
        color: #1c1b1c;
        text-transform: uppercase;
        font-family: "ProximaNovaSbold";
        margin-bottom: 11px;
        margin: 0;
    }

    &__content {
        font-size: 14px;
        line-height: 20px;
        color: #1a1b1a;
    }

    // &__target {
    //     color: #c1022c;
    //     text-decoration: underline;
    // }
}

.app-timeline-card {
    width: 160px;
    height: 150px;
    padding-top: 25px;
    text-align: center;
    box-sizing: border-box;

    @media #{$smallDesktop}{
        width: 190px;
    }

    @media #{$tablet}{
        width: 180px;
    }

    @media #{$phone}{
        width: 100%;
        margin: 0 auto;
    }

    &__date {
        font-size: 12px;
        color: #999;
        position: relative;
        top: 8px;
    }

    &__dot-wrap {
        display: inline-block;
    }
    &__dot-wrap &__dot {
        @include sprite-2x($sprite-timeline-dot);
        margin: 0 auto;
    }

    &__dot-wrap_active &__dot {
        @include sprite-2x($sprite-timeline-home);
    }

    &__dot-wrap_active-end &__dot {
        @include sprite-2x($sprite-timeline-key);
    }

    &__dot-wrap_active + &__label,
    &__dot-wrap_active-end + &__label {
        color: #c1022c;
        font-weight: bold;
    }

    &__label {
        font-size: 14px;
        line-height: 20px;
        padding-top: 3px;
        white-space: nowrap;
        transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
        opacity: 0;
        visibility: hidden;

        &.is-shown {
            visibility: visible;
            opacity: 1;
        }

        .is-active & {
            visibility: visible;
            opacity: 1;
        }
    }
}