.app-about {
    &__list {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        @media #{$tablet} {
            flex-direction: column;
            align-items: center;
        }
    }

    &__list-item {
        width: percentage(1/3);
        max-width: 280px;
        display: flex;
        flex-flow: column wrap;
        padding: 0 25px;
        box-sizing: border-box;

        @media #{$laptop}{
            padding-left: 10px;
            padding-right: 36px;
        }

        @media #{$tablet} {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }

        &:last-child {
            .app-about-card__border-next {
                display: none;
            }
        }
    }
}

.app-about-card {
    border-top: 1px solid rgba(#fff, 0.2);
    border-bottom: 1px solid rgba(#fff, 0.2);
    text-align: center;
    padding-top: 21px;
    padding-bottom: 11px;
    padding-left: 60px;
    position: relative;

    @media #{$laptop}{
        padding-left: 28px;
    }

    @media #{$tablet} {
        border: medium none;
        padding-left: 0;
        padding-bottom: 8px;
    }

    &__media {
        height: 80px;
        position: relative;
        margin-bottom: 14px;

        img {
            max-width: 100%;
            height: auto;
        }

        @media #{$tablet} {
            height: 30px;
            width: 40px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 6px;
        }

        &:after {
            background: url("../img/mask-white.png#datauri") no-repeat center top;
            width: 180px;
            height: 34px;
            content: "";
            transform: translate(-50%, 0);
            position: absolute;
            left: 50%;
            bottom: 0;

            @media #{$tablet} {
                display: none;
            }
        }
    }

    &__title {
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 14px;

        @media #{$tablet} {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &__text {
        font-size: 14px;
        line-height: 20px;
    }

    &__border-left {
        width: 60px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        overflow: hidden;

        @media #{$tablet} {
            display: none;
        }

        &:before {
            width: 200px;
            height: 200px;
            border-right: 1px solid rgba(#fff, 0.2);
            border-bottom: 1px solid rgba(#fff, 0.2);
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            transform: translate3d(-73%, -16%, 0px) rotate(-68deg) skewX(-46deg);
        }
    }
    &__border-right {
        width: 60px;
        height: 100%;
        position: absolute;
        right: -59px;
        top: 0;
        bottom: 0;
        overflow: hidden;

        @media #{$tablet} {
            display: none;
        }

        &:before {
            width: 200px;
            height: 200px;
            border-right: 1px solid rgba(#fff, 0.2);
            border-bottom: 1px solid rgba(#fff, 0.2);
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            transform: translate3d(-73%, -16%, 0px) rotate(-68deg) skewX(-46deg);
        }
    }
    &__border-next {
        width: 28px;
        height: 100px;
        position: absolute;
        right: -81px;
        top: 50%;
        overflow: hidden;
        transform: translate(0, -50%);

        @media #{$tablet} {
            top: inherit;
            right: 50%;
            transform: translate(50%, 52%) rotate(90deg);
        }

        &:before {
            width: 94px;
            height: 94px;
            border-right: 1px solid rgba(#fff, 0.2);
            border-bottom: 1px solid rgba(#fff, 0.2);
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            transform: translate3d(-73%, -16%, 0px) rotate(-68deg) skewX(-46deg);

            @media #{$laptop}{
                left: -6px;
            }

            @media #{$tablet} {
                left: -8px;
            }
        }
    }
}