.app-product-info {
    margin-top: 48px;

    @media #{$smallDesktop}{
        margin-top: -10px;
    }

    @media #{$laptop}{
        margin-top: -180px;
    }

    @media #{$tablet}{
        margin-top: 0;
    }

    .container {
        @media #{$phone}{
            padding-left: 0;
            padding-right: 0;
        }
    }
    &__title {
        max-width: 480px;
        font-size: 36px;
        line-height: 40px;
        text-transform: uppercase;
        text-align: center;
        margin: 0 auto 32px;

        @media #{$phone}{
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 21px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    &__navbar {
        max-width: 940px;
        margin: 0 auto;
        position: relative;
        z-index: 1;
    }

    &__navbar-dropdown {
        @media #{$tablet} {
            position: absolute;
            left: 0;
            right: 0;
            top: 60px;
        }
    }

    &__navbar-select {
        width: 314px;
        display: none;
        flex-flow: row wrap;
        cursor: pointer;
        color: #fff;
        border: 1px solid #818181;
        padding: 4px 5px;
        margin: 0 auto;
        box-sizing: border-box;

        @media #{$tablet} {
            display: flex;
        }

        @media #{$phone}{
            width: 280px;
        }
    }

    &__navbar-select-handler {
        transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
        background-color: #2483c6;
        box-shadow: 0 6px 30px rgba(59, 156, 224, 0.5);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50px;
        padding-left: 15px;
        padding-right: 40px;
        position: relative;
    }

    &__caret {
        @include sprite-2x($sprite-select-arrow-white);
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-10%);
        transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);

        .is-active & {
            transform: rotate(-180deg) translate(0, 25%);
        }
    }

    &__state {
        margin-top: -59px;
    }

    &__target {
        text-align: center;

        @media #{$phone}{
            position: relative;
            top: -46px;
        }

        .app-btn {
            width: 240px;
        }
    }
}

.app-tabnav {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 0;
    padding: 0;

    @media #{$tablet} {
        background-color: rgba(#120b0a, 0.8);
        width: 314px;
        display: none;
        margin: 0 auto;

        .is-active & {
            display: block;
        }
    }

    @media #{$phone}{
        width: 280px;
    }

    &__item {
        width: percentage(1/3);
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        border-bottom: 1px solid #818181;
        border-right: 1px solid #818181;
        border-top: 1px solid #818181;
        padding: 4px 5px;
        margin: 0;
        text-align: center;
        box-sizing: border-box;

        @media #{$tablet} {
            width: 100%;
            text-align: left;
            border-top: medium none;
        }

        &:first-child {
            border-left: 1px solid #818181;
        }
    }

    &__item + &__item {
        @media #{$tablet} {
            border-left: 1px solid #818181;
        }
    }
}