@mixin input-size($parent) {
    #{$parent} {
        display: block;
        width: 100%;
        height: 50px;
        padding: 15px 10px;
        font-size: 14px;
        line-height: 18px;
        color: #000;
        background-color: #fff;
        background-image: none;
        border: 1px solid #000;
        border-radius: 0;
        box-sizing: border-box;

        .app-contact-us__group.is-error & {
            border-color: #ff6a00;

            @include form-control-focus(#ff6a00);
        }

        @include placeholder(#000);

        &::-ms-expand {
            border: 0 none;
            background-color: transparent;
        }

        &[disabled],
        &[readonly] {
            background-color: #818181;
            opacity: 1;
        }

        &[disabled] {
            cursor: not-allowed;
        }

        @include form-control-focus(#2483c6);

        textarea {
            height: auto;
            resize: vertical;
            min-height: 110px;
        }

        .has-error & {
            border-color: #c1022c;

            @include form-control-focus(#c1022c);
        }
    }

    select#{$parent} {
        height: 50px;
        line-height: 18px;
    }

    textarea#{$parent} {
        height: auto;
        resize: vertical;
        min-height: 250px;

        @media #{$tablet}{
            min-height: 110px;
        }
    }
}

.app-contact-us {
    width: 350px;

    @media #{$phone}{
        width: 320px;
    }

    &__header {
        table-layout: fixed;
        width: 100%;
        background-color: #2483c6;
        display: table;
        height: 70px;
        position: relative;
        padding-right: 40px;
        box-sizing: border-box;

        &:hover {
            box-shadow: 0 6px 30px rgba(59, 156, 224, 0.5);

            .is-opened & {
                box-shadow: none;
            }
        }
    }

    &__trigger {
        display: table-cell;
        width: 70px;
        height: 100%;
        vertical-align: middle;
        position: relative;
        cursor: pointer;

        &:before {
            content: "";
            @include sprite-2x($sprite-contact-us-chat);
            position: absolute;
            top: 22px;
            left: 22px;
        }

        .open & {
            cursor: default;
        }
    }

    &__title {
        display: table-cell;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        font-size: 16px;
        color: #fff;
        padding-left: 16px;
        cursor: pointer;
        box-sizing: border-box;

        .is-opened & {
            cursor: default;
        }
    }

    &__close {
        @include sprite-2x($sprite-contact-us-close);
        transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
        position: absolute;
        top: 50%;
        right: 25px;
        transform: translateY(-50%);
        cursor: pointer;
        visibility: hidden;
        opacity: 0;

        .is-opened & {
            visibility: visible;
            opacity: 1;
        }
    }

    &__content {
        display: none;
    }

    &__content-inner {
        background-color: #fff;
        padding: 30px 30px 30px 28px;
    }

    &__group {
        position: relative;
    }

    &__group + &__group {
        margin-top: 20px;
    }

    &__select {
        position: relative;
        height: 50px;

        .app-contact-us__control {
            padding-right: 54px;
            cursor: pointer;
        }
    }

    &__select-caption{
        width: 100%;
        font-size: 14px;
        color: #000;
        padding-left: 8px;
        display: inline-block;
        vertical-align: middle;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        box-sizing: border-box;
    }

    &__caret {
        @include sprite-2x($sprite-select-arrow);
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translate(0, -50%);
        transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);

        .is-active & {
            transform: rotate(-180deg) translate(0, 50%);
        }
    }

    &__select-options {
        border: 1px solid #000;
        background-color: #fff;
        position: absolute;
        left: 0;
        top: inherit;
        right: 0;
        max-height: 222px;
        display: none;
        z-index: 2;
        box-shadow: 0 10px 25px rgba(#000, 0.5);

        .is-active & {
            display: block;
            margin-top: -1px;
        }
    }

    &__select-option {
        padding: 15px 19px;
        min-height: 48px;
        color: #000;
        font-size: 14px;
        cursor:pointer;
        box-sizing: border-box;

        &:hover{
            background-color:#f2f2f2;
        }
    }

    &__text {
        font-size: 18px;
        line-height: 20px;
        color: #000;
        margin-bottom: 20px;
    }

    &__error {
        background-color: #ff6a00;
        padding: 10px 30px 10px 10px;
        margin-top: -1px;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        z-index: 2;
        transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
        visibility: hidden;
        opacity: 0;

        .app-contact-us__group.is-error & {
            visibility: visible;
            opacity: 1;
        }

        &:before {
            border: 5px solid transparent;
            border-bottom: 6px solid #ff6a00;
            position: absolute;
            left: 19px;
            top: -11px;
            content: "";
        }
    }

    &__error-text {
        color: #fff;
        font-size: 14px;
        line-height: 20px;
    }

    &__error-close {
        @include sprite-2x($sprite-contact-us-close);
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    .app-btn {
        width: 140px;
    }

    &.fixed {
        position: fixed;
        top: 50px;
        right: -280px;
        z-index: 2;
        transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);

        @media #{$phone}{
            right: -250px;
        }

        &.open, &.is-opened {
            right: 0;
        }
    }
}

@include input-size(".app-contact-us__control");