.app-product {
    width: 100%;
    height: 700px;
    padding-top: 94px;
    position: relative;

    @media #{$tablet}{
        height: auto;
        padding-top: 28px;
    }

    &__wrap {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
    }

    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;

        @media #{$laptop}{
            overflow: hidden;
        }
    }

    &__bg-img,
    &__bg-img-back {
        position: absolute;
        right: 50%;
        top: 0;
        transform: translate(30%, -25%);

        @media #{$smallDesktop}{
            transform: translate(36%, -25%);
        }

        @media #{$laptop}{
            width: 680px;
            transform: translate(18%, -8%);
        }

        @media #{$tablet}{
            transform: translate(58%, 0);
        }
    }

    &__wrap-col {
        display: flex;
        flex-flow: row wrap;

        @media #{$laptop}{
            align-self: flex-start;
        }

        @media #{$tablet}{
            width: 100%;
            flex-direction: column;
        }
    }

    &__wrap-col_title {
        @media #{$onlyTablet}{
            display: none;
        }
    }

    &__wrap-col_img {

        @media #{$laptop}{
            flex-basis: 30%;
        }

        @media #{$tablet}{
            flex-basis: auto;
        }
    }

    &__wrap-col_text {
        flex-basis: 40%;

        @media #{$laptop}{
            flex-basis: 60%;
        }

        @media #{$tablet}{
            flex-basis: auto;
        }
    }

    &__media {
        padding-right: 35px;
        text-align: center;

        @media #{$smallDesktop}{
            width: 90%;
            padding-right: 0;
        }

        @media #{$laptop}{
            width: 194px;
            margin: 32px auto 30px;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__content {
        padding-left: 35px;

        @media #{$smallDesktop}{
            padding-left: 20px;
        }

        @media #{$tablet}{
            max-width: 280px;
            padding-left: 0;
            margin-left: auto;
            margin-right: auto;
            text-align: center
        }
    }

    &__title {
        font-size: 48px;
        line-height: 60px;
        text-transform: uppercase;

        @media #{$smallDesktop}{
            font-size: 38px;
            line-height: 50px;
        }

        @media #{$laptop}{
            font-size: 24px;
            line-height: 30px;
        }

        @media #{$tablet}{
            max-width: 280px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        em {
            font-style: normal;
        }

        span {
            display: block;
            white-space: nowrap;
        }
    }

    &__title_nophone {
        @media #{$tablet}{
            display: none;
        }
    }

    &__text {
        font-size: 24px;
        line-height: 35px;
        font-family: "ProximaNovaLight";
        text-transform: uppercase;
        padding-top: 14px;

        @media #{$laptop}{
            font-size: 18px;
            line-height: 30px;
        }

        span {
            display: block;
            white-space: nowrap;

            @media #{$tablet}{
                display: inline;
                white-space: normal;
            }
        }
    }

    &__target {
        margin-top: 28px;

        .app-btn {
            width: 230px;
        }

        .app-btn-animate {
            display: inline-block;
            vertical-align: top;
            margin-left: 124px;
            top: -11px;

            @media #{$laptop}{
                margin-left: 30px;
            }

            @media #{$tablet}{
                margin-left: 0;
                top: 0;
            }
        }
    }
}