.app-btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    box-sizing: border-box;
    @include button-size(15px, 20px, 16px, 18px);
    @include user-select(none);

    &,
    &:active,
    &.active {
        &:focus,
        &.focus {
            outline: 0 none;
        }
    }

    &:hover,
    &:focus,
    &.focus {
        color: #fff;
        text-decoration: none;
    }

    &:active,
    &.active {
        outline: 0;
        background-image: none;
    }

    &.disabled {
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.65;
    }

    &__icon {
        display: inline-block;
        vertical-align: top;
        margin-right: 14px;
    }

    &__icon_wifi {
        background: url("../img/icon-btn-wifi.png#datauri") no-repeat 0 0;
        width: 20px;
        height: 16px;
    }
}

.app-btn_blue {
    @include button-variant(#fff, #2483c6, #2483c6);
    box-shadow: 0 6px 30px rgba(59, 156, 224, 0.5);
}

.app-btn_red {
    @include button-variant(#fff, #c1022c, #c1022c);
    box-shadow: 0 6px 30px rgba(193, 2, 44, 0.5);
}

.app-btn-animate {
    width: 170px;
    height: 170px;
    line-height: 170px;
    position: relative;
    text-align: center;

    &__content {
        color: #fff;
        font-size: 18px;
        line-height: 100%;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        z-index: 1;

        b {
            font-family: "ProximaNovaBold";
            text-transform: uppercase;
        }
    }

    &__square {
        width: 90px;
        height: 90px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        &:before {
            background: #c1022c;
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            transform: rotate(45deg);
            z-index: 1;
        }
    }

    &__square-item {
        transition: 0.3s all ease;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        border: 1px solid rgba(#fff, 0.5);
        transform: rotate(45deg);

        &_1 {
            .animate-to & {
                animation: square-round-1 2.6s linear;
            }

            .animate-back & {
                animation: square-round-back-1 1.2s linear;
            }
        }
        &_2 {
            .animate-to & {
                animation: square-round-2 2.4s linear;
            }

            .animate-back & {
                animation: square-round-back-2 1.4s linear;
            }
        }
        &_3 {
            transform: rotate(0);
            .animate-to & {
                animation: square-round-3 4s linear;
            }
            .animate-back & {
                opacity: 0;
            }
        }
    }

    &__circle {
        width: 170px;
        height: 170px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }

    &__circle-item {
        transition: 0.3s all ease;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        transform: rotate(45deg) scale(0.4);

        &_1 {
            .animate-to & {
                animation: circle-round-1 2.6s linear;
            }
            .animate-back & {
                animation: circle-round-back-1 1.2s linear;
            }
        }

        &_2 {
            .animate-to & {
                animation: circle-round-2 2.4s linear;
            }
            .animate-back & {
                animation: circle-round-2 2.4s linear;
            }
        }
        &_3 {
            transform: rotate(0);
            .animate-to & {
                animation: circle-round-3 4s linear;
            }
            .animate-back & {
                opacity: 0;
            }
        }
    }
}

@keyframes circle-round-back-1 {
    0% {
        transform: rotate(0) scale(1);
    }

    100% {
        transform: rotate(495deg) scale(0.4);
    }

}

@keyframes circle-round-back-2 {
    0% {
        transform: rotate(0) scale(1);
    }

    100% {
        transform: rotate(495deg) scale(0.4);
    }

}

@keyframes circle-round-1 {
    0% {
        transform: rotate(-45deg) scale(0.4);
    }

    50% {
        transform: rotate(-180deg) scale(0.8);
    }

    75% {
        transform: rotate(-315deg) scale(1);
    }

    85% {
        transform: rotate(-360deg) scale(1);
    }

    100% {
        transform: rotate(-360deg) scale(1);
    }

}

@keyframes circle-round-2 {
    0% {
        transform: rotate(-45deg) scale(0.4);
    }

    50% {
        transform: rotate(-180deg) scale(0.8);
    }

    75% {
        transform: rotate(-315deg) scale(1);
    }

    85% {
        transform: rotate(-360deg) scale(1);
    }

    100% {
        transform: rotate(-360deg) scale(1);
    }
}

@keyframes circle-round-3 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes square-round-back-1 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-495deg);
    }

}

@keyframes square-round-back-2 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-495deg);
    }

}

@keyframes square-round-1 {
    0% {
        transform: rotate(45deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(315deg);
    }

    85% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

@keyframes square-round-2 {
    0% {
        transform: rotate(45deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(315deg);
    }

    85% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

@keyframes square-round-3 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

// @keyframes square-round-2 {
//     0% {
//         transform: rotate(45deg);
//     }

//     25% {
//         transform: rotate(135deg);
//     }

//     50% {
//         transform: rotate(270deg);
//     }

//     100% {
//         transform: rotate(495deg);
//     }
// }

// @keyframes square-round-3 {
//     0% {
//         transform: rotate(45deg);
//     }

//     50% {
//         transform: rotate(315deg);
//     }

//     75% {
//         transform: rotate(495deg);
//     }

//     100% {
//         transform: rotate(675deg);
//     }
// }