.app-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1020;
    display: none;
    overflow: hidden;
    outline: 0;
    -webkit-overflow-scrolling: touch;

    .app.modal-open & {
        overflow-x: hidden;
        overflow-y: auto;
    }

    &__dialog {
        width: 80%;
        height: calc(100% - 136px);
        position: relative;
        margin: 76px auto 60px;
        padding: 0;
        animation-duration: 0.3s;
        animation-fill-mode: forwards;

        @media #{$phone}{
            height: calc(100% - 115px);
            margin-top: 55px;
        }

        .modal.in & {
            animation-name: anim-open;
        }

        .modal.fade & {
            animation-name: anim-close;
        }
    }

    &__close {
        @include sprite-2x($sprite-video-close);
        position: absolute;
        top: -72px;
        right: 0;
        opacity: 1;
        z-index: 2;
        cursor: pointer;

        @media #{$phone}{
            @include sprite-2x($sprite-video-close-sm);
            top: -30px;
        }
    }

    &__video {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        display: block;
    }

    &__content {
        height: 100%;
        position: relative;
        color: #fff;
    }

    &__backdrop {
        position: fixed;
        z-index: 1010;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #000;

        &.fade {
            opacity: 0;
        }

        &.in {
            opacity: 0.75;
        }
    }
}

@keyframes anim-open {
    0% {
        opacity: 0;
        transform: perspective(1px) scale3d(1.1, 1.1, 1);
    }
    100% {
        opacity: 1;
        transform: perspective(1px) scale3d(1, 1, 1);
    }
}

@keyframes anim-close {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: perspective(1px) scale3d(0.9, 0.9, 1);
    }
}