.app-product-slider {
    margin-bottom: 56px;

    @media #{$phone}{
        margin-bottom: 68px;
    }

    &:focus {
        outline: 0 none;
    }

    &__media {
        text-align: center;

        @media #{$tablet}{
            height: 460px;
            position: relative;
        }

        @media #{$phone}{
            height: 348px;
        }

        img {
            display: inline-block;
            max-width: 100%;
            height: auto;

            @media #{$tablet}{
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }

            @media #{$phone}{
                max-width: none;
                height: 330px;
                top: 50px;
            }
        }
    }

    &__content {
        max-width: 940px;
        text-align: center;
        margin: -120px auto 0;

        @media #{$phone}{
            margin-top: -20px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    &__title {
        font-size: 30px;
        line-height: 32px;
        color: #3b9ce0;
        text-transform: uppercase;
        margin-bottom: 22px;

        @media #{$phone}{
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 16px;
        }
    }

    &__descr {
        font-size: 16px;
        line-height: 25px;
    }

    .slick-track {
        &:focus {
            outline: 0 none;
        }
    }

    .slick-next,
    .slick-prev {
        border: 1px solid rgba(#fff, 0.2);
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-top: ceil(50px / -2);
        z-index: 1;

        &:before {
            content: " ";
            display: inline-block;
        }
    }

    .slick-next {
        right: -75px;

        @media #{$desktop}{
            right: -25px;
        }

        @media #{$laptop}{
            right: 0;
        }

        &:before {
            @include sprite-2x($sprite-state-slider-right);
        }
    }

    .slick-prev {
        left: -75px;

        @media #{$desktop}{
            left: -25px;
        }

        @media #{$laptop}{
            left: 0;
        }

        &:before {
            @include sprite-2x($sprite-state-slider-left);
        }
    }

    .slick-dots {
        margin: 0;

        @media #{$phone}{
            bottom: -108px;
        }

        li {
            button:before {
                color: #fff;
                opacity: 1;
                top: -1px;
            }

            &.slick-active {
                button:before {
                    color: #2483c6;
                    font-size: 10px;
                    top: 0;
                }
            }
        }
    }
}