.app-history {
    &__header {
        max-width: 940px;
        display: flex;
        flex-flow: row-reverse wrap;
        margin: 0 auto;
        padding-top: 48px;
        align-items: center;

        @media #{$tablet}{
            flex-direction: row;
            padding-top: 8px;
        }
    }

    &__header-item {
        width: 50%;
        display: flex;
        flex-direction: column;
        padding-right: 50px;
        box-sizing: border-box;

        @media #{$tablet}{
            width: 100%;
            padding-right: 0;
            text-align: center;
        }
    }

    &__media {
        width: 245px;
        height: 240px;
        display: block;
        position: relative;
        text-decoration: none;

        @media #{$tablet}{
            margin: 0 auto 33px;
        }

        &:focus {
            outline: 0 none;
        }

        img {
            display: inline-block;
            vertical-align: top;
            max-width: 100%;
            height: auto;
        }

        &:before {
            content: "";
            @include sprite-2x($sprite-history-arrow);
            position: absolute;
            left: 263px;
            top: 50%;
            transform: translateY(-50%);

            @media #{$phone}{
                display: none;
            }
        }
    }

    &__title {
        font-size: 18px;
        line-height: 20px;
        color: #fff;
        text-align: right;
        margin-bottom: 20px;
        padding-left: 30px;

        @media #{$tablet}{
            max-width: 460px;
            padding-left: 0;
            text-align: center;
            margin: 0 auto 13px;
        }
    }

    &__description {
        font-size: 16px;
        line-height: 20px;
        color: #818181;
        text-align: right;
        padding-left: 30px;

        @media #{$tablet}{
            max-width: 460px;
            padding-left: 0;
            text-align: center;
            margin: 0 auto;
        }
    }
}