html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 100%;
}
  
body {
    width: 100%;
}

.clr-red {
    color: #c1022c;
}

.clr-blue {
    color: #3b9ce0;
}

a {
    color: #c1022c;
    text-decoration: none;

    &:hover,
    &:focus {
        color: darken(#c1022c, 15%);
        text-decoration: underline;
    }
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

figure {
    margin: 0;
}

img {
    vertical-align: middle;
}

.app {
    font-family: "ProximaNovaReg";
    font-size: 16px;
    line-height: 18px;
    color: #fff;

    &__header {
        overflow: hidden;
    }

    &__content {
        overflow: hidden;
    }

    &__wrapper {
        height: 100vh;
        min-height: 600px;
        position: relative;
        z-index: 2;
    }

    &__bg {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 1;
    }
}

.app-container {
    @include container-fixed(15px);
}

#canvas {
    background-color:#000;
    width: 100%;
    height: 100%;
    cursor: none;
}

.app-header-top {
    background-size: cover;
    max-width: 716px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
    position: relative;

    &:before {
        background: url("../img/app-header-bg.png") no-repeat center top;
        width: 716px;
        height: 150px;
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        z-index: -1;
    }

    &__inner {
        max-width: 480px;
        font-size: 16px;
        line-height: 20px;
        display: inline-block;
        vertical-align: top;
        padding: 13px 10px 0;
        box-sizing: border-box;

        @media #{$tablet}{
            padding-left: 0;
            padding-right: 0;
        }

        @media #{$phone}{
            font-size: 14px;
        }

        b {
            font-family: "ProximaNovaBold";
            font-weight: normal;
        }

        p {
            margin: 0;
        }
    }

    &__logo {
        font-size: 10.25px;
        padding-top: 6px;

        img {
            margin-left: 2px;
        }
    }
}

.app-brand {
    text-align: center;
    margin-top: -27px;
    margin-bottom: 37px;

    @media #{$phone}{
        margin-top: -17px;
    }

    &__descr {
        margin-top: 8px;
        font-size: 16px;
        text-transform: uppercase;
        line-height: 20px;

        @media #{$phone}{
            margin-top: 17px;
        }

        span {
            color: #c1012b;
            white-space: nowrap;
            font-weight: bold;
        }
    }
}
