.app-feedback {
    margin-top: 100px;
    margin-bottom: 50px;

    @media #{$tablet}{
        margin-top: 66px;
    }

    @media #{$phone}{
        margin-top: 21px;
    }

    .container {
        @media #{$phone}{
            border-top: 1px solid rgba(#fff, 0.1);
            border-bottom: 1px solid rgba(#fff, 0.1);
        }
    }

    &__wrap {
        border-top: 1px solid rgba(#fff, 0.1);
        border-bottom: 1px solid rgba(#fff, 0.1);
        min-height: 318px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 70px;
        padding-bottom: 70px;
        box-sizing: border-box;

        @media #{$tablet}{
            min-height: 258px;
            padding-top: 30px;
            padding-bottom: 30px;
        }

        @media #{$phone}{
            min-height: 198px;
            border: medium none;
        }
    }

    &__wrap-content {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__title {
        width: 100%;
        max-width: 940px;
        font-size: 36px;
        line-height: 40px;
        text-transform: uppercase;
        margin: 0 auto;

        @media #{$phone}{
            font-size: 24px;
            line-height: 30px;
            text-align: center;
        }

        span {
            display: block;

            @media #{$phone}{
                display: inline;
            }
        }

        &.text-center {
            text-align: center;
        }
    }

    &__list {
        margin-left: -15px;
        margin-right: -15px;
        @include clearfix;
    }

    &__list-item {
        width: 100%;
        min-height: 1px;
        float: left;
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;

        @media #{$onlyTablet}{
            width: percentage(1 / 2);
        }

        @media #{$onlyLaptop}{
            width: percentage(1 / 3);
        }

        &:nth-child(2) {
            @media #{$tablet}{
                margin-top: 27px;
            }
        }
    }

    &__list-item_full {
        @media #{$onlyTablet}{
            width: 100%
        }

        @media #{$onlyLaptop}{
            width: percentage(1 / 3);
        }
    }

    &__form {
        width: 100%;
        max-width: 940px;
        margin: 32px auto 0;

        @media #{$phone}{
            margin-top: 19px;
        }
    }

    &__group {
        position: relative;
        padding-top: 33px;

        .app-btn {
            width: 100%;
        }
    }

    &__form-label {
        font-size: 16px;
        color: #818181;
        position: absolute;
        left: 0;
        top: 0;
    }

    &__form-control {
        display: block;
        width: 100%;
        height: 50px;
        padding: 15px 10px;
        font-size: 16px;
        line-height: 18px;
        color: #fff;
        background-color: #0d0c0d;
        background-image: none;
        border: 1px solid #818181;
        border-radius: 0;
        box-sizing: border-box;
        @include placeholder;

        &::-ms-expand {
            border: 0 none;
            background-color: transparent;
        }

        &[disabled],
        &[readonly] {
            background-color: #818181;
            opacity: 1;
        }

        &[disabled] {
            cursor: not-allowed;
        }

        @include form-control-focus(#2483c6);

        .is-error & {
            border-color: #c1022c;

            @include form-control-focus(#c1022c);
        }
    }

    &__error {
        background-color: #c1022c;
        padding: 10px 30px 10px 10px;
        margin-top: -1px;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        z-index: 2;
        transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
        visibility: hidden;
        opacity: 0;

        .app-feedback__group.is-error & {
            visibility: visible;
            opacity: 1;
        }

        &:before {
            border: 5px solid transparent;
            border-bottom: 6px solid #c1022c;
            position: absolute;
            left: 19px;
            top: -11px;
            content: "";
        }
    }

    &__error-text {
        color: #fff;
        font-size: 14px;
        line-height: 20px;
    }

    &__error-close {
        @include sprite-2x($sprite-contact-us-close);
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }
}