.app-navbar {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 30px;

    @media #{$tablet}{
        flex-direction: column;
        align-items: center;
    }

    &__item {
        width: 260px;
        display: flex;
        flex-flow: column wrap;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;

        @media #{$laptop}{
            width: 250px;
        }

        @media #{$tablet}{
            width: 230px;
            padding-left: 0;
            padding-right: 0;
        }
    }

    &__item + &__item {
        @media #{$tablet}{
            margin-top: 20px;
        }
    }
}

.app-tab-btn {
    display: flex;
    flex-flow: row wrap;
    cursor: pointer;
    transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);

    .active & {
        background-color: #2483c6;

        @media #{$onlyTablet}{
            box-shadow: 0 6px 30px rgba(59, 156, 224, 0.5);
        }
    }

    &:hover {
        background-color: #2483c6;
        color: inherit;
        text-decoration: none;
        @media #{$onlyTablet}{
            box-shadow: 0 6px 30px rgba(59, 156, 224, 0.5);
        }
    }

    &__handler {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 50px;
        color: #fff;
        padding-left: 15px;
        padding-right: 15px;
    }
}