.app-history-carousel {
    padding-bottom: 100px;

    @media #{$tablet}{
        padding-top: 35px;
        padding-bottom: 55px;
    }
}

.app-history-slider {
    margin-bottom: 0;

    &__item {
        @media #{$laptop}{
            min-height: 400px;
        }
    }

    .slick-track {
        &:focus {
            outline: 0 none;
        }
    }

    .slick-next,
    .slick-prev {
        border: 1px solid rgba(#fff, 0.2);
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-top: ceil(50px / -2);
        z-index: 1;

        &:before {
            content: " ";
            display: inline-block;
        }
    }

    .slick-next {
        right: -75px;

        @media #{$desktop}{
            right: -25px;
        }

        @media #{$laptop}{
            right: 0;
        }

        &:before {
            @include sprite-2x($sprite-state-slider-right);
        }
    }

    .slick-prev {
        left: -75px;

        @media #{$desktop}{
            left: -25px;
        }

        @media #{$laptop}{
            left: 0;
        }

        &:before {
            @include sprite-2x($sprite-state-slider-left);
        }
    }

    .slick-dots {
        margin: 0;

        @media #{$tablet}{
            width: 320px;
            left: 50%;
            transform: translateX(-50%);
            bottom: inherit;
            top: 345px;
            text-align: right;
        }

        @media #{$phone}{
            width: 240px;
            top: 264px;
        }

        li {
            margin-left: 0;
            margin-right: 0;

            button:before {
                color: #fff;
                opacity: 1;
                top: -1px;
            }

            &.slick-active {
                button:before {
                    color: #c1022c;
                    font-size: 10px;
                    top: 0;
                }
            }
        }
    }
}
.app-history-card {
    max-width: 940px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    @media #{$tablet}{
        flex-wrap: wrap-reverse;
        align-items: start;
    }

    .app-history-slider__item[data-index="1"] & {
        flex-direction: row-reverse;

        @media #{$tablet}{
            flex-direction: row;
        }
    }

    .app-history-slider__item[data-index="3"] & {
        flex-direction: row-reverse;

        @media #{$tablet}{
            flex-direction: row;
        }
    }

    &__col {
        width: 50%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;

        @media #{$laptop}{
            padding-top: 20px;
        }

        @media #{$tablet}{
            width: 100%;
            flex-direction: column-reverse;
            padding-top: 0;
        }

    }

    &__media {
        position: relative;
        overflow: hidden;

        @media #{$tablet}{
            width: 320px;
            margin-left: auto;
            margin-right: auto;
        }

        @media #{$phone}{
            width: 240px;
        }

        img {
            display: inline-block;
        }
    }

    &__img {
        max-width: 100%;
        height: auto;
        display: inline-block;
        vertical-align: top;
        // animation: img-animate 10s ease-out infinite alternate-reverse both;
        opacity: 0;
        visibility: hidden;
    }

    &__video {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    &__content {
        padding-right: 20px;
        padding-left: 50px;
        position: relative;
        box-sizing: border-box;

        @media #{$tablet}{
            width: 320px;
            padding: 23px 0 0;
            margin: 0 auto;
        }

        @media #{$phone}{
            width: 240px;
        }
    }

    &__number {
        position: absolute;
        left: -40px;
        top: 50%;
        z-index: -1;
        animation-duration: 6s;
        animation-fill-mode: backwards;
        animation-direction: alternate;
        animation-timing-function: ease-out;
        animation-iteration-count: infinite;
        transform: translate(10px, -50%);
        opacity: 0;

        &:before {
            color: #1d1d1d;
            font: 466px/400px "ProximaNovaThin", Arial;

            @media #{$tablet}{
                font-size: 396px;
                line-height: 230px;
            }

            .app-history-slider__item[data-index="1"] & {
                content: "1";
            }
            .app-history-slider__item[data-index="2"] & {
                content: "2";
            }
            .app-history-slider__item[data-index="3"] & {
                content: "3";
            }
            .app-history-slider__item[data-index="4"] & {
                content: "4";
            }
        }

        .animate & {
            animation-name: wobble-left;
        }
    }

    &__label {
        font-size: 16px;
        line-height: 20px;
        color: #7f7f7f;
        position: absolute;
        left: 50px;
        top: -63px;

        @media #{$laptop}{
            top: -40px;
        }

        @media #{$tablet}{
            position: relative;
            left: 0;
            top: 0;
            margin-bottom: 23px;
        }

        &:after {
            width: 40px;
            height: 1px;
            background-color: #303030;
            display: block;
            content: " ";
            margin-top: 10px;
        }
    }

    &__title {
        font-size: 30px;
        line-height: 40px;
        color: #fff;
        text-transform: uppercase;

        @media #{$laptop}{
            font-size: 24px;
            line-height: 30px;
        }

        @media #{$tablet}{
            font-size: 16px;
            line-height: 25px;
        }
    }

    &__description {
        font-size: 16px;
        line-height: 20px;
        color: #fff;
        margin-top: 16px;
    }

    &__target {
        padding-top: 16px;
    }
}

@keyframes wobble-left {
    0% {
        transform: translate(30px, -50%);
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    100% {
        transform: translateX(0, -30%);
        opacity: 1;
    }
}

@keyframes img-animate {
    0% {
        transform: scale(1) translateY(0);
        transform-origin: 50% 16%;
    }

    100% {
        transform: scale(1.05) translateY(-15px);
        transform-origin: top;
    }
}